h5 {
    font-size: 1.44rem;
    margin: 0.1rem;
}
html {
    line-height: 1.4;
}
h5.anio {
    font-weight: 600;
    font-size: 1.8em;
}
h5.asignacion {
    font-weight: 500;
    font-size: 1.8em;
    height: 2rem;
}
h4 {
    margin: 0.1rem 0 0.01rem 0;
}
p {
    font-size: 13px;
    margin: 1px 0;
}
.colorCafe{
    color: #C1B4B0;
}
.colorCafeR{
    background-color: #E3DCD9;
}
.centro{
    text-align: center;
}
.sinPadding{
    padding: 0px;
}
.container {
    max-width: 1000px !important;
}
.row.titulo{
    border-bottom: 3px solid #C1B4B0;
    margin-bottom: 0;
}
.container {
    margin: 2em auto;
    max-width: 1500px;
    width: 90%;
}
.divider {
    color: #2d2d2d;
    border: 1px dashed;
    margin: 4em 0;
    width: 100%;
}
.row.info {
    margin: 1em 0;
}
.col.s2.offset-s10 {
    border-top: 1px solid;
    text-align: center;
}
.unam{
    width: 100%;
}
.dgae{
    width: 80%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.col.s3.fecha {
    border-left: 3px solid #C1B4B0;
    color: #887977;
}
.col.s10.info {
    border-top: 4px solid #C1B4B0;
}
.row.carta {
    margin-bottom: 5px;
}
.anio{

}
.col.s8.universidad{
    padding-left: 3em;
}
/*Datos*/
.ciclo{
    text-align: center;
}
.ciclof{
    font-size: 3.28rem;
    color: #887977;
}
.fotoP{
    width: 7em;
}
.ingreso{
    color: #887977;
    text-align: left;
}
/*Contenido info*/
.contenidoP{
    font-size: 14px;
    text-align: justify;
}
.contenido{
    border-left: 3px solid #C1B4B0;
    padding: 0 3em;
}
.direccion{
    padding: 0 3em;
}
h5.protesta {
    text-align: center;
    border-top: 2px solid #C1B4B0;
    border-bottom: 4px solid #C1B4B0;
    margin: 1em 0;
    padding: .2em;
}
.cartaP {
    text-align: justify;
}
p.decreto {
    padding: 0 2em;
    font-size: 14px;
}
p.firma {
    font-size: 14px;
    text-align: center;
    border-top: 3px solid #C1B4B0;
    width: 400px;
    margin: 0 auto;
    margin-top: 6em;
}
/*Pago*/
.col.s7.orden {
    display: -webkit-inline-box;
    white-space: pre;
    border-right: 3px solid #C1B4B0;
}
.cumComp {
    border: 2px solid #C1B4B0;
    border-right: 0px;
    border-bottom: 0px;
    text-align: center;
    padding: 2px;
    width: 106%;
}
.encabezado{
    border-bottom: 2px solid #C1B4B0;
}
.ordenPago{
    font-size: 10px;
    text-align: left;
}
.row.encabezado {
    margin-bottom: 0;
}
.row.columnas{
    margin-bottom: 1px;
}
img.unam.pago {
    width: 50%;
}
img.dgae.pago {
    width: 60%;
}
.nombre{
    text-align: left;
    font-size: 11px;
    padding-left: 3px;
    border-left: 2px solid #C1B4B0;
}
.row.columnas.colorCafeR {
    border-bottom: 2px solid #C1B4B0;
}
.row.columnas {
    margin-bottom: 1px;
}
.row.columnas {
    border-bottom: 2px solid #C1B4B0;
}
.row.pago {
    margin: 0;
    width: 101.5%;
}
p.ordenPago.precio {
    font-weight: 900;
        font-size: 12px;
}
.primerIngreso{
    margin: auto 0;
    margin-top: 50%;
    font-weight: 500;
}
.row.pagos {
    border-bottom: 3px dashed #c1b4b0;
}
/*Instrcucciones pago*/
.instrucciones {
    width: 80%;
    text-align: justify;
    margin: 0 auto;
}
td, th {
    padding: 0px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
.acuse{
    border-bottom: 4px solid #C1B4B0;
        margin-bottom: 5px;
}
.col.acuseEncabezado {
    margin-top: 1em;
}
p.acuseP {
    font-size: 14px;
}
.fotoAcuse{
    text-align: center;
}
.cajaAcuse {
    height: 250px;
    width: 101%;
    border: 2px solid #C1B4B0;  
}
.cajaAcuse.colorCafeR {
    text-align: justify;
    padding: 1em;
        border: none;
}
.row .col.s4 {
    width: 33.3333333333%;
    padding: 0;
}
